In [2]:
import pymongo
import pandas as pd
pd.set_option("display.max_columns",None)
import warnings
warnings.filterwarnings("ignore")
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [3]:
connection = MongoClient('mongodb+srv://mukeshbabu120193:WBn0gpPVqmOGkrwO@cluster0.fttcjju.mongodb.net/')
db = connection['sample_airbnb']
coll= db["listingsAndReviews"]

In [4]:
data= []

for i in coll.find({},{"_id":1, "listing_url":1, "name":1, 'property_type':1, 'room_type':1, 'bed_type':1, 'minimum_nights':1, 'maximum_nights':1, 'cancellation_policy':1, 'accommodates':1, 'bedrooms':1, 'beds':1, 'number_of_reviews':1, 'bathrooms':1, 'price':1, 'extra_people':1, 'guests_included':1, 'images.picture_url':1, 'review_scores':1,'cleaning_fee':1}):
    data.append(i)

In [5]:
df= pd.DataFrame(data)

In [6]:
df.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1.0,2.0,0,1.0,317.00,187.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{}
1,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire home/apt,Real Bed,2,1125,flexible,6,2.0,6.0,1,1.0,527.00,211.00,211.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."

In [7]:
df["images"]= df["images"].apply(lambda x: x["picture_url"])
df["review_scores"]= df["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [8]:
df.describe().T

                    count       mean        std  min  25%   50%   75%    max
accommodates       5555.0   3.505851   2.297019  1.0  2.0   3.0   4.0   16.0
bedrooms           5550.0   1.411712   1.041942  0.0  1.0   1.0   2.0   20.0
beds               5542.0   2.071454   1.619660  0.0  1.0   2.0   3.0   25.0
number_of_reviews  5555.0  27.606481  49.798376  0.0  1.0   5.0  32.0  533.0
review_scores      5555.0  68.395680  41.829834  0.0  0.0  92.0  98.0  100.0

In [9]:
df.isnull().sum()  #removing Null Value

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
dtype: int64

In [10]:
df["beds"].fillna(0,inplace= True)
df["bedrooms"].fillna(0,inplace= True)
df["bathrooms"].fillna(0,inplace= True)
df["cleaning_fee"].fillna(0,inplace= True)

In [11]:
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

In [12]:
df.dtypes   #Changing Data Type

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
cleaning_fee            object
extra_people            object
guests_included         object
images                  object
review_scores            int64
dtype: object

In [13]:
df["minimum_nights"]= df["minimum_nights"].astype(int)
df["maximum_nights"]= df["maximum_nights"].astype(int)
df["bedrooms"]= df["bedrooms"].astype(int)
df["beds"]= df["beds"].astype(int)
df["bathrooms"]= df["bathrooms"].astype(str).astype(float).astype(int)
df["price"]= df["price"].astype(str).astype(float).astype(int)
df["extra_people"]= df["extra_people"].astype(str).astype(float).astype(int)
df["guests_included"]= df["guests_included"].astype(str).astype(float).astype(int)
df["cleaning_fee"]= df["cleaning_fee"].astype(str).astype(float).astype(int)

In [14]:
df.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int32
maximum_nights          int32
cancellation_policy    object
accommodates            int64
bedrooms                int32
beds                    int32
number_of_reviews       int64
bathrooms               int32
price                   int32
cleaning_fee            int32
extra_people            int32
guests_included         int32
images                 object
review_scores           int64
dtype: object

In [15]:
host= []      #Collecting Host Details
for i in coll.find({},{"_id":1, "host":1}):
    host.append(i)

In [16]:
df_host= pd.DataFrame(host)

In [17]:
df_host.head(2)

        _id                                               host
0  10009999  {'host_id': '1282196', 'host_url': 'https://ww...
1  10047964  {'host_id': '1241644', 'host_url': 'https://ww...

In [18]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[], 'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[], 'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in df_host["_id"]:
    host_columns["_id"].append(i)
for i in df_host["host"]:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [20]:
df_host_1= pd.DataFrame(host_columns)
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",None,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,NaN,False,True,False,1,1,"[email, phone, facebook]"
1,10047964,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",None,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,NaN,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, gover..."

In [21]:
df_host_1.isnull().sum()  #Replacing Null Value

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [22]:
list_index= []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [23]:
len(list_index)

1923

In [24]:
df_host_1["host_response_time"].fillna("Not Specified",inplace= True)
df_host_1["host_response_rate"].fillna("Not Specified",inplace= True)
df_host_1["host_neighbourhood"]= df_host_1["host_neighbourhood"].replace({'':"Not Specified"})

In [25]:
df_host_1.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [26]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not Specified,False,True,False,1,1,"[email, phone, facebook]"
1,10047964,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",Not Specified,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,Not Specified,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, gover..."

In [27]:
# Changing True, False to Yes, No
df_host_1["host_is_superhost"]= df_host_1["host_is_superhost"].map({False: "No", True: "Yes"})
df_host_1["host_has_profile_pic"]= df_host_1["host_has_profile_pic"].map({False: "No", True: "Yes"})
df_host_1["host_identity_verified"]= df_host_1["host_identity_verified"].map({False: "No", True: "Yes"})

In [28]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10009999,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not Specified,No,Yes,No,1,1,"[email, phone, facebook]"
1,10047964,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",Not Specified,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,Not Specified,No,Yes,Yes,2,2,"[email, phone, facebook, reviews, jumio, gover..."

In [29]:
# Collecting Address Details
address= []
for i in coll.find({}, {"_id":1, "address":1}):
    address.append(i)

In [30]:
df_address= pd.DataFrame(address)

In [31]:
address_columns= {'_id':[], 'street':[], 'suburb':[], 'government_area':[], 'market':[], 'country':[],
                   'country_code':[], 'location_type':[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}

for i in df_address["_id"]:
    address_columns["_id"].append(i)

for i in df_address["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [32]:
df_address_1= pd.DataFrame(address_columns)
df_address_1.head(2)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,True
1,10047964,"Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,Point,29.03133,40.985850,True

In [33]:
df_address_1.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [34]:
#checking Empty Values
id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address_1.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)

    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)

    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index)

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [35]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

In [36]:
#Changing Empty Columns and Changing True, False to Yes, No
df_address_1["suburb"]= df_address_1["suburb"].replace({'':"Not Specified"})
df_address_1["market"]= df_address_1["market"].replace({'':"Not Specified"})

df_address_1["is_location_exact"]= df_address_1["is_location_exact"].map({False:"No", True:"Yes"})

In [37]:
df_address_1.head(2)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10009999,"Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.23075,-22.966254,Yes
1,10047964,"Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,Point,29.03133,40.985850,Yes

In [38]:
#Collecting Availability
availability= []
for i in coll.find({}, {"_id":1, "availability":1}):
    availability.append(i)

In [39]:
df_availabe= pd.DataFrame(availability)

In [40]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in df_availabe["_id"]:
    availabe_columns["_id"].append(i)

for i in df_availabe["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [41]:
df_availabe_1= pd.DataFrame(availabe_columns)

In [42]:
df_availabe_1.head(2)

,_id,availability_30,availability_60,availability_90,availability_365
0,10009999,0,0,0,0
1,10047964,27,57,87,362

In [43]:
df_availabe_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [44]:
df_availabe_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [45]:
# collecting Aminities
amenities= []
for i in coll.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [46]:
df_amenities= pd.DataFrame(amenities)

In [47]:
def sort_amenities(x):
    a= x
    a.sort()
    return a

df_amenities["amenities"]= df_amenities["amenities"].apply(lambda x: sort_amenities(x))

In [48]:
df_amenities.head(2)

        _id                                          amenities
0  10009999  [Buzzer/wireless intercom, Essentials, Family/...
1  10047964  [24-hour check-in, Cable TV, Cat(s), Essential...

In [49]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [50]:
df_amenities.dtypes

_id          object
amenities    object
dtype: object

In [51]:
# Merging
df_1= pd.merge(df, df_host_1, on="_id")
df_1= pd.merge(df_1, df_address_1, on="_id")
df_1= pd.merge(df_1, df_availabe_1, on="_id")
df_1= pd.merge(df_1, df_amenities, on="_id")

In [52]:
# Save File
df_1.to_csv("Airbnb.csv", index= False)

In [59]:
df= pd.read_csv("C:/Users/FCI/OneDrive/Desktop/New folder/Airbnb/Airbnb.csv")

In [60]:
df

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,10009999,https://www.airbnb.com/rooms/10009999,Horto flat with small garden,Apartment,Entire home/apt,Real Bed,2,1125,flexible,4,1,2,0,1,317,187,0,1,https://a0.muscache.com/im/pictures/5b408b9e-4...,0,1282196,https://www.airbnb.com/users/show/1282196,Ynaie,"Rio de Janeiro, State of Rio de Janeiro, Brazil",Not Specified,https://a0.muscache.com/im/pictures/9681e3cc-4...,https://a0.muscache.com/im/pictures/9681e3cc-4...,Jardim Botânico,Not Specified,No,Yes,No,1,1,"['email', 'phone', 'facebook']","Rio de Janeiro, Rio de Janeiro, Brazil",Jardim Botânico,Jardim Botânico,Rio De Janeiro,Brazil,BR,Point,-43.230750,-22.966254,Yes,0,0,0,0,"['Buzzer/wireless intercom', 'Essentials', 'Fa..."
1,10047964,https://www.airbnb.com/rooms/10047964,Charming Flat in Downtown Moda,House,Entire home/apt,Real Bed,2,1125,flexible,6,2,6,1,1,527,211,211,1,https://a0.muscache.com/im/pictures/231120b6-e...,100,1241644,https://www.airbnb.com/users/show/1241644,Zeynep,"Istanbul, Istanbul, Turkey",Not Specified,https://a0.muscache.com/im/users/1241644/profi...,https://a0.muscache.com/im/users/1241644/profi...,Moda,Not Specified,No,Yes,Yes,2,2,"['email', 'phone', 'facebook', 'reviews', 'jum...","Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,Point,29.031330,40.985850,Yes,27,57,87,362,"['24-hour check-in', 'Cable TV', 'Cat(s)', 'Es..."
2,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Apartment,Private room,Real Bed,14,1125,flexible,1,1,1,1,1,40,0,0,1,https://a0.muscache.com/im/pictures/72844c8c-f...,100,11275734,https://www.airbnb.com/users/show/11275734,Josh,"New York, New York, United States",Not Specified,https://a0.muscache.com/im/users/11275734/prof...,https://a0.muscache.com/im/users/11275734/prof...,Bushwick,Not Specified,No,Yes,Yes,1,1,"['email', 'phone', 'reviews', 'kba']","Brooklyn, NY, United States",Brooklyn,Bushwick,New York,United States,US,Point,-73.936150,40.697910,Yes,0,0,0,0,"['Air conditioning', 'Buzzer/wireless intercom..."
3,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Apartment,Private room,Real Bed,1,1125,flexible,2,1,1,0,2,701,250,0,1,https://a0.muscache.com/im/pictures/59c516bd-c...,0,51496939,https://www.airbnb.com/users/show/51496939,Livia,BR,Not Specified,https://a0.muscache.com/im/pictures/b7911710-9...,https://a0.muscache.com/im/pictures/b7911710-9...,Lagoa,Not Specified,No,Yes,No,1,1,"['email', 'phone', 'jumio', 'government_id']","Rio de Janeiro, Rio de Janeiro, Brazil",Lagoa,Lagoa,Rio De Janeiro,Brazil,BR,Point,-43.205047,-22.971951,Yes,28,58,88,363,"['24-hour check-in', 'Air conditioning', 'Buzz..."
4,10038496,https://www.airbnb.com/rooms/10038496,Copacabana Apartment Posto 6,Apartment,Entire home/apt,Real Bed,3,75,strict_14_with_grace_period,4,1,3,70,2,119,150,40,3,https://a0.muscache.com/im/pictures/159d489e-6...,98,51530266,https://www.airbnb.com/users/show/51530266,Ana Valéria,"Rio de Janeiro, State of Rio de Janeiro, Brazil",within an hour,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,https://a0.muscache.com/im/pictures/8c7bb5fe-7...,Copacabana,100.0,Yes,Yes,Yes,2,2,"['email', 'phone', 'reviews', 'jumio', 'govern...","Rio de Janeiro, Rio de Janeiro, Brazil",Copacabana,Copacabana,Rio De Janeiro,Brazil,BR,Point,-43.190849,-22.984339,No,7,19,33,118,"['Air conditioning', 'Bed linens', 'Buzzer/wir..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9848837,https://www.airbnb.com/rooms/9848837,Manly Beach House,House,Entire home/apt,Real Bed,3,1125,moderate,4,2,2,1,1,425,80,20,4,https://a0.muscache.com/im/pictures/ea163ad6-9...,80,24563792,https://www.airbnb.com/users/show/24563792,Brigitte,"Sydney, New South Wales, Australia",Not Specified,https://a0.muscache.com/im/users/24563792/prof...,https://a0.muscache.com/im/users/24563792/prof...,Manly,Not Specified,No,Yes,Yes,1,1,"['email', 'phone', 'facebook', 'reviews', 'jum...","Manly, NSW, Australia",Manly,Manly,Sydney,Australia,AU,Point,151.285000,-33.792260,Yes,0,0,0,0,"['Air conditioning', 'Cable TV', 'Family/kid f..."
5551,9849915,https://www.airbnb.com/rooms/9849915,Magnificient Beach View,Apartment,Private room,Real Bed,2,15,moderate,2,1,1,19,1,90,0,0,1,https://a0.muscache.com/im/pictures/d98d3aab-b...,98,12337597,https://www.airbnb.com/users/show/12337597,Valentine,"Bondi Beach, New South Wales, Australia",Not Specified,https://a0.muscache.com/im/users/12337597/prof...,https://a0.muscache.com/im/users/12337597/prof...,North Bondi,Not Specified,No,Yes,Yes,1,1,"['email', 'phone', 'reviews', 'jumio', 'govern...","North Bondi, NSW, Australia",North Bondi,Waverley,Sydney,Australia,AU,Point,151.284220,-33.893340,No,0,0,0,0,"['Dryer', 'Essentials', 'Hair dryer', 'Hangers..."
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3,1125,flexible,1,1,1,4,1,400,0,300,2,https://a0.muscache.com/im/pictures/a39e3f36-9...,85,31386255,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,within a day,https://a0.muscache.com/im/pictures/965f2c12-5...,https://a0.muscache.com/im/pictures/965f2c12-5...,Causeway Bay,60.0,No,Yes,No,7,7,"['email', 'phone', 'reviews']","Hong Kong, Hong Kong Island, Hong Kong",Quarry Bay,Eastern,Hong Kong,Hong Kong,HK,Point,114.207220,22.291570,No,18,48,78,353,"['24-hour check-in', 'Air conditioning', 'Elev..."
5553,9944044,https://www.airbnb.com/rooms/9944044,Sanctuary Bundeena,Bed and breakfast,Private room,Real Bed,2,1125,moderate,2,1,1,1,1,250,0,0,1,https://a0.muscache.com/im/pictures/4fd85acc-5...,100,51104303,https://www.airbnb.com/users/show/51104303,Sara And Scott,"Bundeena, New South Wales, Australia",within a few hours,https://a0.muscache.com/im/pictures/6bd58265-1...,https://a0.muscache.com/im/pictures/6bd58265-1...,Not Specified,100.0,No,Yes,No,1,1,"['email', 'phone', 'reviews', 'jumio', 'offlin...","Bundeena, NSW, Australia",Not Specified,Sutherland Shire,Sydney,Australia,AU,Point,151.152710,-34.088290,Yes,30,60,90,365,"['Bathtub', 'Breakfast', 'Cat(s)', 'Dryer', 'E..."
5554,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2,2,3,0,1,501,0,0,1,https://a0.muscache.com/im/pictures/e40d18b2-1...,0,51303748,https://www.airbnb.com/users/show/51303748,Eren,"Kadikoy, Çanakkale, Turkey",Not Specified,https://a0.muscache.com/im/pictures/89a1b839-2...,https://a0.muscache.com/im/pictures/89a1b839-2...,Not Specified,Not Specified,No,Yes,No,2,2,"['email', 'phone']","Kadıköy, İstanbul, Turkey",Moda,Kadikoy,Istanbul,Turkey,TR,Point,29.030790,40.985630,No,30,60,90,365,"['Buzzer/wireless intercom', 'Cable TV', 'Drye..."